{% extends 'base.html'%}
{% load string_fliters %}

{% block search %}

<!--Search form-->
<form method="get" action="{% url 'blog:antibody_search' %}" style="max-width: 600px; margin: 0 auto; padding: 20px 0;">
    <div style="display: flex; border: 1px solid #ccc; border-radius: 6px; overflow: hidden;">
        <!-- 下拉框 -->
        <select name="type" 
            style="
                border: none;
                padding: 8px 12px;
                font-size: 16px;
                background-color: white;
                border-right: 1px solid rgba(157, 169, 179, 0.52); 
                outline: none;
            ">
            <option value="name" {% if request.GET.type == "name" %}selected{% endif %}>Name</option>
            <option value="property" {% if request.GET.type == "property" %}selected{% endif %}>Property</option>
        </select>

        <!-- 输入框 -->
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search antibodies..." 
               style="flex: 1; border: none; padding: 8px 12px; font-size: 16px; outline: none;">

        <!-- 按钮 -->
        <button type="submit" style="background-color: #1b4b8a; border: none; padding: 0 16px; display: flex; align-items: center; justify-content: center;">
            <i class="fas fa-search" style="color: white; font-size: 16px;"></i>
        </button>
    </div>
</form>




{% endblock search %}

{% block main %}


<div class="container">
    <div class="block" id="information1">
        <table class="table" style="margin-bottom: 0px">
            <tr>
                
            </tr>
        </table>  
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4"> 
                        <div class="card-header py-3 d-flex justify-content-between align-items-center">
                            <h6 class="m-0 font-weight-bold" style="font-size: 23px">Basic Information</h6>  
                                <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="downloadDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Download
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="downloadDropdown">
                                            <a class="dropdown-item" href="{% url 'blog:download_all' antibody.id_db %}">Download All</a>
                                            <a class="dropdown-item" href="{% url 'blog:download_sequence' antibody.id_db %}">Download Sequence</a>
                                        </div>
                                </div>
                        </div>
                        <h2 style="text-align: center; font-family: sans-serif; margin-top:10px; ">{{ antibody.name}}</h2>

                           <!-- 外框容器 -->
                            <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
                                
                                <!-- 可视化区域框框 -->
                                <div style="border: 2px solid #ccc; border-radius: 16px; padding: 8px; width: 60%; max-width: 700px;">
                                    <div id="viewer_simple" style="width: 100%; height: 380px; position: relative;"></div>
                                </div>
                            </div>

                            <!-- 样式控制按钮 -->
                            <style>
                                .style-btn {
                                    background-color:rgb(144, 175, 210);
                                    color: white;
                                    border: none;
                                    padding: 8px 18px;
                                    margin: 5px;
                                    border-radius: 8px;
                                    cursor: pointer;
                                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                                    transition: background-color 0.3s ease, transform 0.2s ease;
                                    font-size: 14px;
                                }
                            
                                .style-btn:hover {
                                    background-color: #357ABD;
                                    transform: translateY(-2px);
                                }
                            </style>
                            
                            <div style="text-align: center; margin-top: 12px;">
                                <button class="style-btn" onclick="setCartoon()">Cartoon</button>
                                <button class="style-btn" onclick="setStick()">Stick</button>
                                <button class="style-btn" onclick="setSphere()">Sphere</button>
                                <button class="style-btn" onclick="setLine()">Line</button>
                            </div>



                            <!-- 加载 3Dmol -->
                            <script src="https://cdn.jsdelivr.net/npm/3dmol@1.6.0/build/3Dmol-min.js"></script>
                           <script>
                                let viewer_simple = null;

                                async function loadPDBAndInit() {
                                    const response = await fetch("{{ pdb_url }}");
                                    const pdbData = await response.text();

                                    viewer_simple = $3Dmol.createViewer("viewer_simple", {
                                        defaultcolors: $3Dmol.rasmolElementColors,
                                        backgroundColor: "white"
                                    });

                                    viewer_simple.addModel(pdbData, "pdb");
                                    viewer_simple.zoomTo();
                                    
                                    // 页面加载时默认显示 cartoon 样式
                                    setCartoon();
                                }

                                function setCartoon() {
                                    if (!viewer_simple) return;
                                    viewer_simple.setStyle({}, {});  // 清空当前样式
                                    viewer_simple.setStyle({chain: 'H'}, {cartoon: {color: '#ff0000'}});
                                    viewer_simple.setStyle({chain: 'L'}, {cartoon: {color: '#0000ff'}});
                                    viewer_simple.setStyle({chain: 'A'}, {cartoon: {color: 'green'}});
                                    viewer_simple.setStyle({chain: 'B'}, {cartoon: {color: 'orange'}});
                                    viewer_simple.zoomTo();
                                    viewer_simple.render();
                                }

                                function setStick() {
                                    if (!viewer_simple) return;
                                    viewer_simple.setStyle({}, {stick: {}});
                                    viewer_simple.zoomTo();
                                    viewer_simple.render();
                                }

                                function setSphere() {
                                    if (!viewer_simple) return;
                                    viewer_simple.setStyle({}, {sphere: {}});
                                    viewer_simple.zoomTo();
                                    viewer_simple.render();
                                }

                                function setLine() {
                                    if (!viewer_simple) return;
                                    viewer_simple.setStyle({}, {line: {}});
                                    viewer_simple.zoomTo();
                                    viewer_simple.render();
                                }

                                //  页面加载时执行初始化
                                loadPDBAndInit();
                            </script>

                            
                            
                            

                        <div class="card-body" style="font-size: 18px; padding-bottom: 0px">
                            <table class="table table-striped" style="color: #20212b; width: 100%; table-layout: fixed; word-break: break-all; word-wrap: break-word">
                                <tr>
                                    <th style="width:20%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        Antibody_DB ID:</th>
                                    <td style="width:80%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        {{antibody.id_db}}</td>
                                </tr>
                                 <tr>
                                    <th style="width:20%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        Format:</th>
                                    <td style="width:80%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        {{antibody.format}}</td>
                                </tr>
                                <tr>
                                    <th style="width:20%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        Organism:</th>
                                    <td style="width:80%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        {{antibody.organism}}</td>
                                </tr>
                                <tr>
                                    <th style="width:20%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        Paper:</th>
                                    <td style="width:80%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        {{antibody.paper}} doi:<a href="https://doi.org/{{ antibody.doi }}" target="_blank">{{ antibody.doi }}</a></td>
                                </tr>
                                <tr>
                                    <th style="width:20%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        Reference:</th>
                                    <td style="width:80%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        {{antibody.reference}}</td>
                                </tr>
                                <tr>
                                    <th style="width:20%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        Other_ID:</th>
                                    <td style="width:80%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                        {% with antibody.other_id|split_ids as id_data %}
                                        {% if id_data.type == "PDB" %}
                                            {% for pid in id_data.ids %}
                                                <a href="https://www.rcsb.org/structure/{{ pid }}" target="_blank">{{ id_data.type }}:{{ pid }}</a>{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% elif id_data.type == "EMBL Genbank" %}
                                            {% for eid in id_data.ids %}
                                                <a href="https://www.ebi.ac.uk/ena/browser/view/{{ eid }}" target="_blank">{{ id_data.type }}:{{ eid }}</a>{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                         {% else %}
                                            None
                                        {% endif %}
                                    {% endwith %}
                                    </td>
                                </tr>
    

                                
                                {% for region, seq in antibody.sequence.items %}
                                    <tr>
                                        <th style="width:20%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                            {{ region }}:</th>
                                        <td style="width:80%; padding-top: 10px; padding-bottom: 2px; padding-left: 6px">
                                            {{ seq }}</td>
                                    </tr>
                                {% endfor %}
                            </table>         
                        </div>

            <div class="row">
                <div class="col-lg-12" style="padding-bottom: 0px;">
                    <div class="card mb-4"> 
                        <div class="card-header py-3 margin">
                            <h6 class="m-0 font-weight-bold" style="font-size: 23px"> Properties</h6>
                        </div>
                            <div class="card-body" style="font-size: 18px; padding-bottom: 0px">
                                <table class="table table-striped" style="color: #20212b; margin-bottom: 3px">
                                    <tr>
                                        <th style="padding: 6px; width:45%">Property</th>
                                        <th style="padding: 6px; width:25%">Value</th>
                                         <th style="padding: 6px; width:30%"></th>

                                    </tr>
                                    {% for item in antibody.property_list.all %}
                                        <tr>
                                            <td style="padding: 6px; font-weight: 500;">{{ item.property_name }}</td>
                                            <td style="padding: 6px; font-weight: 500;">{{ item.value }}</td>
                                            <td style="padding: 6px; font-weight: 500;">
                                                {% if item.assay %}{{ item.assay }}{% else %} {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                    </div>
                </div>
            </div>
    </div>
</div>
                
{% endblock main %}