{% extends 'base.html'%}

{% block main %}

    <style>
        /* 页面容器，居中显示 */
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .panel {
            width: 100%;
            max-width: 1000px; /* 最大宽度 */
            margin: 20px;
            border: 2px solid #d3d3d3; /* 灰色边框 */
            border-radius: 10px; /* 圆角效果 */
        }

        /* Panel样式 */
        
        .panel-body {
            padding: 50px;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

        .panel-body p {
            margin: 20px 0;

        }

        
        
    </style>


    <div class="container">
        <div class="col-md-6 col-sm-8 col-sm-push-2 col-md-push-3">
            <div class="panel panel-default">
                <div class="panel-body about_content">
                    <p style="font-size: 20px">If you have any questions, please contact:</p>
                    <p style="font-weight: bold; font-size: 22px"><strong>Address:</strong></p>
                    <p>College of Pharmaceutical Sciences</p>
                    <p>Zhejiang University</p>
                    <p>Hangzhou, Zhejiang 310058, China
                    </p>
                    <p style=" font-size: 22px"><strong>Team:</strong></p>
                    <p style=" font-size: 16px">Prof. Tingjun Hou</p>
                    <p>Email: <a href="mailto:tingjunhou@zju.edu.cn">tingjunhou@zju.edu.cn</a></p>

                    <p style=" font-size: 16px">Stu. Nanqi Hong</p>
                    <p>Email: <a href="#">xxxxxx@zju.edu.cn</a></p>

                    
                </div>
            </div>
        </div>
    </div>

{% endblock main %}